<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479869545705-i4p2gq7r7cr4r7u4dtvk8fgmkln7lvn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479869545705-i4p2gq7r7cr4r7u4dtvk8fgmkln7lvn2</string>
	<key>API_KEY</key>
	<string>AIzaSyA6t87nQbcMKZ97sB4MiXDf9-4d6lqpbqI</string>
	<key>GCM_SENDER_ID</key>
	<string>479869545705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoom</string>
	<key>PROJECT_ID</key>
	<string>chatapp-0270</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-0270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479869545705:ios:bfc31b6eac47dd91ec1478</string>
</dict>
</plist>